<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TestPageUrl" value="http://demoqa.com/registration/"/>
    <add key="Browser" value="Chrome"/>     <!-- supported options Firefox, Chrome -->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
